{% extends 'server_list/navbar.html' %}

{% load server_list_extras %}
{% load widget_tweaks %}
{% block script %}
var territory_id={{form.server_territory.value|convert_none}};
var room_id={{form.server_room.value|convert_none}};
var rack_id={{form.server_rack.value|convert_none}};
var is_physical = {{form.is_physical.value|yesno:"true,false"}};
var vm_fields_to_hide = [{% for field in form.vm_fields_to_hide %} "#tr_id_{{field}}"{% if not forloop.last %},{% endif %}{% endfor %}];
var physical_fields_to_hide = [{% for field in form.physical_fields_to_hide %} "#tr_id_{{field}}"{% if not forloop.last %},{% endif %}{% endfor %}];
var host_machine = {{form.host_machine_id}}

//console.log("{{form.server_name.value}}");
//console.log(territory_id,room_id,rack_id, is_physical);
$(document).ready(function() {

    //$("#id_host_machine").val(host_machine).attr('selected', 'selected');

    /*$.ajax({

        url: "{% url 'ajax' %}",
        type: 'GET',
        data: {'model': 'vm'},
        dataType: "json",
        success: function(resp){
            $("#id_host_machine").empty();
            $.each(resp, function(idx, obj) {
                //console.log(obj);
                console.log('fck');
                if (obj.pk == host_machine){
                    $("#id_host_machine").append($('<option></option>').attr('value', parseInt(obj.pk)).attr('selected','selected').text(obj.fields.hostname));
                }else{
                    $("#id_host_machine").append($('<option></option>').attr('value', parseInt(obj.pk)).text(obj.fields.hostname));
                }
            });
        },
        error: function(jqXHR, textStatus, errorThrown) {
            alert(errorThrown+'vm_id');
        }

    });*/

    $.ajax({
        url: "{% url 'ajax' %}",
        type: 'GET',
        data: {'model': 'territory'},
        dataType: "json",
        success: function(resp){
            $("#id_server_territory").empty();
            $.each(resp, function(idx, obj) {
                if(obj.pk==territory_id){
                    $("#id_server_territory").append($('<option></option>').attr('value', obj.pk).attr('selected','selected').text(obj.fields.name));
                }else{
                    $("#id_server_territory").append($('<option></option>').attr('value', obj.pk).text(obj.fields.name));
                }
            });
            ajax_request_rooms_by_territory($("#id_server_territory").val());
        },
        error: function(jqXHR, textStatus, errorThrown) {
            alert(errorThrown+'initial load');
        }
    });

    $("#id_server_territory").change(function(){
        //console.log('rack by room'+$("#id_server_territory").val());
        ajax_request_rooms_by_territory($("#id_server_territory").val());
    });

    $("#id_server_room").change(function(){
        //console.log('rack by room'+$("#id_server_room").val());
        ajax_request_racks_by_room($("#id_server_room").val());
    });

    $("#id_is_physical").change(function(){
        //console.log("changed");
        if($("#id_is_physical").is(':checked')){
            unhide_fields(vm_fields_to_hide);
            hide_fields(physical_fields_to_hide);
        }else{
            hide_fields(vm_fields_to_hide);
            unhide_fields(physical_fields_to_hide);
        }

    });
    if (!is_physical){
        hide_fields(vm_fields_to_hide);
    } else {
        hide_fields(physical_fields_to_hide);
    }
});

function hide_fields(fields){
    for (field of fields){
        $(field).hide();
    }
}

function unhide_fields(fields){
    for (field of fields){
        $(field).show();
    }
}


function ajax_request_rooms_by_territory(territory_id){
    $.ajax({
        url: "{% url 'ajax' %}",
        type: 'GET',
        data: {'model':'room','territory': territory_id},
        dataType: "json",
        success: function(resp){
            $("#id_server_room").empty();
            $.each(resp, function(idx, obj) {
                if(obj.pk==room_id){
                    $("#id_server_room").append($('<option></option>').attr('value', obj.pk).attr('selected','selected').text(obj.fields.name));
                }else{
                    $("#id_server_room").append($('<option></option>').attr('value', obj.pk).text(obj.fields.name));
                }
                });
            ajax_request_racks_by_room($("#id_server_room").val());
        },
        error: function(jqXHR, textStatus, errorThrown) {
            alert(errorThrown+'rooms by ter'+territory_id);
        }
    });
}

function ajax_request_racks_by_room(room_id){
     $.ajax({
        url: "{% url 'ajax' %}",
        type: 'GET',
        data: {'model':'rack','room': room_id},
        dataType: "json",
        success: function(resp){
            $("#id_server_rack").empty();
            $.each(resp, function(idx, obj) {
                if(obj.pk==rack_id){
                    $("#id_server_rack").append($('<option></option>').attr('value', obj.pk).attr('selected','selected').text(obj.fields.name));
                }else{
                    $("#id_server_rack").append($('<option></option>').attr('value', obj.pk).text(obj.fields.name));
                }
                });
        },
        error: function(jqXHR, textStatus, errorThrown) {
            alert(errorThrown+'racks by room'+room_id);
        }
    });
}



{% include "server_list/js_open_window.html" %}



function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
}

 async function call_reload(){
    console.log('reload called');
    console.log("listener triggered, sleeping 1s");
    await sleep(500);
    location.reload();
}

{% endblock %}

{% block content %}




    <h6>Редактирование сервера</h6>
<form method="post">
    {% csrf_token %}

    <table>
        {% for field in form %}


        <tr id="tr_id_{{field.name}}">
            <th>{{ field.label}}</th>

            <th>{{ field }}</th>
            {% if '_rack' in field.name %}
            <th> <a href="javascript:void(0);" onclick="open_window('{% url 'rack_edit_without_parameters' %}'+document.getElementById('{{field.auto_id}}').value+'?close=true', 'rack_edit');">Редактировать</a> </th>
            <th> <a href="javascript:void(0);" onclick="open_window('{% url 'rack_new' %}', 'rack_add');">Добавить</a> </th>
            {% endif %}
            {% if 'group' in field.name %}
            <th> <a href="javascript:void(0);" onclick="open_window('{% url "group_edit_without_parameters" %}'+document.getElementById('{{field.auto_id}}').value+'?close=true', 'group_edit');">Редактировать</a> </th>
            <th> <a href="javascript:void(0);" onclick="open_window('{% url 'group_new' %}', group_add');">Добавить</a> </th>
            {% endif %}
            {% if 'ip_' in field.name %}
            <th><a href="javascript:void(0);" onclick="ajax_delete_ip({{field.name|get_ip_num}})">Удалить</a></th>
            {% endif %}
            {% for error in field.errors %}
            <th><font color="red">{{error}}</font></th>
            {% endfor %}

        </tr>

        {% endfor %}


        <tr>
            <th colspan="2"><input class="btn btn-outline-success my-2 my-sm-1" type="submit" value="Отправить"></th>
        </tr>
    </table>


</form>

{% endblock %}