{% extends 'server_list/navbar.html' %}
{% block title %}Карточка группы{% endblock %}
{% block script %}
{% endblock %}
{% block content %}
 <h6>Редактирование группы</h6>
<form method="post">
    {%csrf_token%}
    {% for field in form %}
    <p>{{field.label}} {{field}}
        {% for error in field.errors %}
            {{error}}
        {% endfor %}
    </p>
    {% endfor %}
      <input type="hidden" name="group_id" value="{{form.instance.id}}">
    <p><input type="submit" value="Submit"></p>
</form>

{% endblock %}