<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
    function myFunc(){
        var rnd = Math.floor((Math.random()*100)+1);
        console.log("click");
        win = window.open("1.html","name"+rnd,"height=100,width=100");
        document.getElementById("text").innerHTML="opened";
        win.onbeforeunload = function(e) {
            document.getElementById("text").innerHTML="closed";
        }
    }

</script>
<body>
<a href="#" onclick="myFunc();">Link</a>
<p id="text">sometext</p>
</body>
</html>