{% extends 'server_list/navbar.html' %}
{% block title %}Карточка сегмента{% endblock %}


{% block script %}
    {% include "server_list/js_open_window.html" %}
    {% include "server_list/js_reload_call.html" %}
{% endblock %}
{% block content %}
<body>
<form method="post">
    <table>
        {% csrf_token %}
        {% for field in form %}
        <tr>
            <th>{{field.label}}</th>
            <th>{{field}}</th>
            {% if field.auto_id == 'id_segment_id' %}
            <th><a href="javascript:void(0)" onclick='open_window("{% url 'segment_new' %}", "Новый сегмент");'>Добавить сегмент</a></th>
            {% endif %}
            {% for error in field.errors %}
            <th><font color="red">{{error}}</font></th>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="submit" onclick="opener.call_reload()">
</form>
</body>
{% endblock %}
