<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <script src="{% include 'server_list/js_jquery.html' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'server_list/css/bootstrap.min.css' %}"
          media="screen,projection"/>
    <script type="text/javascript" src="{% static 'server_list/js/bootstrap.min.js' %}"></script>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} </title>

    <script> {% block script %}{% endblock %} </script>

    <script>

$(document).ready(function() {
    let autocompleteItems = document.getElementById('autocomplete-items');
    let input = document.getElementById("myInput");
    autocompleteItems.innerHTML="";
    autocompleteItems.style.display="none";
    input.addEventListener('input', searchFunction);
    input.addEventListener('click', function(e){
        document.getElementById('autocomplete-items').style.display="block";
    });
    document.body.onclick=function(e){
        let pNode = e.target.parentNode;
        if( pNode != document.getElementById('autocomplete-items') && pNode != document.getElementById('autocomplete')){
            document.getElementById('autocomplete-items').style.display="none";
        }
    };

});


function searchFunction(){
    var input = document.getElementById('myInput');
    var list = document.getElementById('autocomplete-items');
    list.style.display="block";
    list.innerHTML="";
    var servers =  {};
    $.ajax({
        url: "{% url 'ajax' %}",
        type: 'GET',
        data: {'action': 'search', 'query':document.getElementById('myInput').value},
        dataType: "json",
        success: function(resp){
            $.each(resp, function(idx, obj) {
                   switch(obj.model){
                        case 'server_list.server':
                            //console.log('server', obj.fields['hostname'], obj.pk);
                            servers[obj.pk]={hostname:obj.fields['hostname'], ip:[], purpose:obj.fields['purpose']};
                            break;
                        case 'server_list.ip':
                            //console.log('ip', obj.fields['ip_as_string'], obj.fields['server']);
                            if (!servers[obj.fields['server']].ip.includes(obj.fields['ip_as_string'])){
                                servers[obj.fields['server']].ip.push(obj.fields['ip_as_string']);
                            }
                            break;
                        case 'server_list.error':
                            alert('User is not unauthenticated!');
                            return;
                   }

            });
            for(let key in servers){
                console.log(key, servers[key]);
                a = document.createElement("div");
                a.innerHTML = "<input type='hidden' data-id='" + key +"' name='item'/>";
                a.innerHTML+="<p>Имя сервера: "+servers[key].hostname + "</p><p>Описание: " + servers[key].purpose + "</p><p>Ip-адреса: "+servers[key].ip+"</p>";
                a.addEventListener("click", function(e){
                            console.log('clicked on ' + this.getElementsByTagName("input")[0].dataset.id );
                            console.log('{% url 'server_view_without_parameters' %}'+this.getElementsByTagName("input")[0].dataset.id);
                            window.open('{% url 'server_view_without_parameters' %}'+this.getElementsByTagName("input")[0].dataset.id, "_self");
                             });
                list.appendChild(a);
            }

        },
        error: function(jqXHR, textStatus, errorThrown) {
            alert('error: ' + errorThrown);
        }
    });
};







    </script>

    <style> {% block style %}{% endblock %}
             .autocomplete {
            position: relative;
            display: inline-block;
        }

        .autocomplete-items {
          position: absolute;
          border: 1px solid #d4d4d4;
          border-bottom: none;
          border-top: none;
          z-index: 99;
          /*position the autocomplete items to be the same width as the container:*/
          top: 100%;
          left: 0;
          right: 0;
        }
        .autocomplete-items div {
          padding: 10px;
          cursor: pointer;
          background-color: #fff;
          border-bottom: 1px solid #d4d4d4;
        }
        .autocomplete-items div:hover {
          /*when hovering an item:*/
          background-color: #e9e9e9;
        }
        .autocomplete-active {
          /*when navigating through the items using the arrow keys:*/
          background-color: DodgerBlue !important;
          color: #ffffff;
        }

        .divider-vertical {
            height: 50px;
            margin: 0 9px;
            /*border-left: 1px solid #F2F2F2;*/
            /*border-right: 1px solid #FFF;*/
        }

body {
  font-size: .8rem;
}



</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-expand-md navbar-light bg-light sticky-top" id="navbar">
    <div class="container">
    <a class=" navbar-brand" href="{% url 'list' %}">Datacenter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="nav navbar-nav mr-auto">
            <!--<li class="nav-item active">-->
            <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
            <!--<a class="nav-link" href="#">Link</a>-->
            <!--</li>-->
            {% if actions %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Меню
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for action in actions %}
                    {% if action.divider %}
                    <div class="dropdown-divider"></div>
                    {% else %}
                    <a class="dropdown-item" href="{{action.link}}">{{action.name}}</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </li>
            {% endif %}
            <!--<li class="nav-item">-->
            <!--<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
            <!--</li>-->
        </ul>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <form id="searchform" class="form-inline my-2 my-lg-2" method="POST" autocomplete="off"
                      action="{% url 'search'%}">
                    {% csrf_token %}

                    <div class="autocomplete" id="autocomplete" style="width:300px;">
                        <input class="form-control mr-sm-2" name="searchInput" type="search" placeholder="Поиск..."
                               id="myInput" style="width:100%">
                        <div id="autocomplete-items" class="autocomplete-items"
                             style="height:auto; max-height:300px; overflow:auto;">

                        </div>
                    </div>

                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
                </form>
            </li>
            <li class="divider-vertical"></li>



        </ul>
        <span class="navbar-text">
                {% if user.is_authenticated %}
                    {{user}} | <a href="{%url 'custom_logout'%}?next={{request.get_full_path}}" class="navbar-link">выйти</a>
                {% else %}
                    <a href="{% url 'custom_login' %}?next={{request.get_full_path}}" class="navbar-link">Войти</a>
                {% endif %}
        </span>
    </div>
    </div>
</nav>
<p></p>
<div class="container mx-auto">
    <br>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
