{% extends 'server_list/navbar.html' %}
{% block title %}Карточка стойки{% endblock %}
{% block script %}
{% include "server_list/js_open_window.html" %}

{% include "server_list/js_reload_call.html" %}
{% endblock %}
{% block content %}


 <h6>Редактирование стойки</h6>
<form method="post">
    {%csrf_token%}
    {% for field in form %}
    <p>{{field.label}} {{field}}
        {% for error in field.errors %}
            {{error}}
        {% endfor %}
        {% if 'room' in field.name %}
        <a href="javascript:void(0);" onclick="open_window('{% url 'room_edit_without_parameters' %}'+document.getElementById('{{field.auto_id}}').value+'?close=True', 'room_edit');">Редактировать</a>
        <a href="javascript:void(0);" onClick="open_window('{% url 'room_new' %}', 'room_add');">Добавить</a>
        {% endif %}
    </p>
    {% endfor %}
    <p><input type="submit" value="Submit" onclick="if(opener != null) opener.call_reload()"></p>
</form>

{% endblock %}