{% extends 'server_list/navbar.html' %}
{% block title %}Карточка стойки{% endblock %}
{% load server_list_extras %}
{% block script %}
{% include "server_list/js_open_window.html" %}
var territory_id = {{form.instance.room.territory.id|convert_none}}
var room_id = {{form.instance.room.id|convert_none}}
window.onload = function() {
    let sel = document.getElementById("id_territory");
    sel.onchange = function(){
        console.log('onchange');
        territory_id = sel.options[sel.selectedIndex].value;
        update_room_list();
    }


    if (territory_id != null){
        for (var i = 0; i < sel.length; i++){
            console.log (i, territory_id, sel.options[i].value);
            if (sel.options[i].value == territory_id){
                sel.selectedIndex = i;
            }
        }
        update_room_list(territory_id,room_id);
    }else {
        empty_room_list();
    }
    let room_sel = document.getElementById("id_room");
    if (room_id != null){
        for (var i = 0; i < room_sel.length; i++){
            //console.log (i, territory_id, sel.options[i].value);
            if (room_sel.options[i].value == territory_id){
                room_sel.selectedIndex = i;
            }
        }
    }
    console.log('{{form.instance.room.id|convert_none}}');
}

function empty_room_list() {
    let sel = document.getElementById("id_room");
    sel.innerHTML = '';
    let opt = document.createElement('option');
    opt.innerHTML = '**сначала выберите территорию**';
    sel.appendChild(opt);
}

function ajax_request_territories(){
     $.ajax({
            url: "{% url 'ajax' %}",
            type: 'GET',
            data: {'model':'territory'},
            dataType: "json",
            success: function(resp){
                $("#id_territory").empty();
                $("#id_territory").append($('<option></option>').attr('value', "").text('---------'));
                $.each(resp, function(idx, obj) {
                    if(obj.pk==territory_id){
                        $("#id_territory").append($('<option></option>').attr('value', obj.pk).attr('selected','selected').text(obj.fields.name));
                    }else{
                        $("#id_territory").append($('<option></option>').attr('value', obj.pk).text(obj.fields.name));
                    }
                    });
                update_room_list();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(errorThrown+' rooms by ter '+territory_id);
            }
        });
}

function update_room_list(){
    $.ajax({
        url: "{% url 'ajax' %}",
        type: 'GET',
        data: {'model':'room', 'territory':territory_id},
        dataType: "json",
        success: function(resp){
            $("#id_room").empty();
            $("#id_room").append($('<option></option>').attr('value', "").text('---------'));
            $.each(resp, function(idx, obj) {
                if(obj.pk==room_id){
                    $("#id_room").append($('<option></option>').attr('value', obj.pk).attr('selected','selected').text(obj.fields.name));
                }else{
                    $("#id_room").append($('<option></option>').attr('value', obj.pk).text(obj.fields.name));
                }
            });
        },
        error: function(jqXHR, textStatus, errorThrown) {
            alert(errorThrown+'ajax rooms');
        }
    });
}
function call_reload(caller, ids){
    territory_id=ids[1]
    room_id = ids[0]
    ajax_request_territories();
}
{% endblock %}
{% block content %}


 <h6>Редактирование стойки</h6>
<form method="post">
    {%csrf_token%}
    {% for field in form %}
    <p>{{field.label}} {{field}}
        {% for error in field.errors %}
            {{error}}
        {% endfor %}
        {% if 'room' in field.name %}
        <a href="javascript:void(0);" onclick="if(/^\d+$/.test(document.getElementById('{{field.auto_id}}').value)) open_window('{% url 'room_edit' %}?room_id='+document.getElementById('{{field.auto_id}}').value+'&close=true', 'room_edit');">Редактировать</a>
        <a href="javascript:void(0);" onClick="open_window('{% url 'room_edit' %}?new=true&close=true', 'room_add');">Добавить</a>
        {% endif %}
    </p>
    {% endfor %}
    <p><input type="submit" value="Submit"></p>
</form>

{% endblock %}