{% extends 'server_list/navbar.html' %}
{% block title %}Карточка помещения{% endblock %}
{% block script %}
{% include "server_list/js_open_window.html" %}


function call_reload(caller, ids){
     $.ajax({
        url: "{% url 'ajax' %}",
        type: 'GET',
        data: {'model':'territory'},
        dataType: "json",
        success: function(resp){
            $("#id_territory").empty();
            $("#id_territory").append($('<option></option>').attr('value', "").text('---------'));
            $.each(resp, function(idx, obj) {
                if(obj.pk==ids[0]){
                    $("#id_territory").append($('<option></option>').attr('value', obj.pk).attr('selected','selected').text(obj.fields.name));
                }else{
                    $("#id_territory").append($('<option></option>').attr('value', obj.pk).text(obj.fields.name));
                }
            });
        },
        error: function(jqXHR, textStatus, errorThrown) {
            alert(errorThrown+'ajax territories');
        }
    });
}
{% endblock %}
{% block content %}

 <h6>Редактирование комнаты</h6>
<form method="post">
    {%csrf_token%}
     {% for field in form %}
    <p>{{field.label}} {{field}}
        {% for error in field.errors %}
            {{error}}
        {% endfor %}
        {% if 'territory' in field.name %}
        <a href="javascript:void(0);" onclick="open_window('{% url 'territory_edit' %}?territory_id='+document.getElementById('{{field.auto_id}}').value+'&close=True', 'territory_edit');">Редактировать</a>
        <a href="javascript:void(0);" onClick="open_window('{% url 'territory_edit' %}?new=true&close=true', 'territory_add');">Добавить</a>
        {% endif %}
    </p>
    {% endfor %}
    <p><input type="submit" value="Submit"></p>
</form>
{% endblock %}