{% extends 'server_list/navbar.html' %}
{% block title %}Карточка помещения{% endblock %}
{% block script %}
{% include "server_list/js_open_window.html" %}

{% include "server_list/js_reload_call.html" %}
{% endblock %}
{% block content %}

 <h6>Редактирование комнаты</h6>
<form method="post">
    {%csrf_token%}
     {% for field in form %}
    <p>{{field.label}} {{field}}
        {% for error in field.errors %}
            {{error}}
        {% endfor %}
        {% if 'territory' in field.name %}
        <a href="javascript:void(0);" onclick="open_window('{% url 'territory_edit_without_parameters' %}'+document.getElementById('{{field.auto_id}}').value+'?close=True', 'territory_edit');">Редактировать</a>
        <a href="javascript:void(0);" onClick="open_window('{% url 'territory_new' %}', 'territory_add');">Добавить</a>
        {% endif %}
    </p>
    {% endfor %}
    <p><input type="submit" value="Submit"></p>
</form>
{% endblock %}