{% extends "server_list/navbar.html" %}
{% load server_list_extras %}
{% load staticfiles %}
{% block title %}Список серверов{% endblock %}

{% block script %}
var tables = []
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;

    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++){
        tabcontent[i].style.display = "none";
    }

    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
    for (i = 0; i < tables.length; i++){
        tables[i].trigger('reflow');
    }
}

window.onload = function(){
    $bottom = $('#navbar').outerHeight();
    console.log($bottom);
    {% for ter, room_dict in servers.items%}
        {% for room, rack_dict in room_dict.items %}
            {% for rack,ser_dict in rack_dict.items %}
            $table = $('#table_{{rack.id}}');
            tables.push($table);
            $table.floatThead({top:$bottom});
            {% endfor %}
        {% endfor %}
    {% endfor %}
    tabcontent = document.getElementsByClassName("tabcontent");
    for (let i = 0; i < tabcontent.length; i++){
        tabcontent[i].style.display="none";
    }
    tabcontent[0].style.display = "block";

}



{% endblock %}

{% block style %}

.sticky{
    position:fixed;
    top:0;

}
{% endblock %}

{% block content %}
 <script src="{% static 'server_list/js/jquery.floatThead.min.js' %}"></script>
    <div>
        <!-- ссылки на сегменты -->
        <p>
            {% for id, name in links.items %}
            <a href="{% url 'list' %}?group={{ id }}">{{name}}</a>
            {% endfor %}
        </p>
    </div>

    <!-- вкладки -->
    <ul class="nav nav-tabs">
        {% for tabid, tabname in tabs.items %}
        <li class="nav-item">
            <a href="#" class="nav-link btn btn-sm tablinks" onclick="openCity(event, '{{tabname}}')">{{tabname}}
                <button class="btn btn-sm btn-outline-secondary" value="Edit"
                        onclick="window.location.href ='{% url 'territory_view' tabid %}'">view
                </button>
            </a>
        </li>
        {% endfor %}
    </ul>


    {% for ter, room_dict in servers.items %}
    <div id="{{ter}}" class="tabcontent bg-light ">
        {% for room, rack_dict in room_dict.items %}
        <p><a href="{% url 'room_view' room.id%}">{{room.name}}</a></p>
        {% for rack, ser_dict in rack_dict.items %}
        <p><a href="{% url 'rack_view' rack.id %}">{{rack.name}}</a></p>

            <table id="table_{{rack.id}}" class="table table-sm table-hover center-block" >
                <!-- Unit Модель Имя Питание VM OS Назначение IP Mask/Gateway ilo iscsi port s/n specs sens-->

                <thead class="table_header thead-dark" style="">
                <tr>
                {% for n in  ser_dict|get_dict_item:"header" %}
                    <th scope="row" >{{n}}

                    </th>

                {% endfor %}
                </tr>
                </thead>

                <tbody>
                {% for id, row in ser_dict.items %}
                {% if not forloop.first %}
                <tr>
                    {% for col in row %}
                    {% if forloop.counter0 == 2 and forloop.parentloop.counter0 != 0 and row.2 != " " %}
                    <td ><p><a href="{% url 'server_view' id %}">{{col}}</a></p></td>
                    {%elif forloop.counter0 == 4 and forloop.parentloop.counter0 != 0 and row.2 == " "%}
                    <td><p><a href="{% url 'server_view' id %}">{{col}}</a></p></td>
                    {%else%}

                    <td>
                        <p>
                            {%if col|is_list%}
                            {% for c in col %}
                            {% if not forloop.first %}
                            <br/>
                            {% endif%}
                            {{c}}
                            {% endfor %}
                            {% else %}
                            {% if col == 'on' %}
                            <font color="green">On</font>
                            {% elif col == 'off'%}
                            <font color="red">Off</font>
                            {% else %}
                            {{col}}
                            {% endif %}
                            {% endif %}
                        </p>
                    </td>
                    <!--|linebreaks-->
                    {%endif%}
                    {% endfor %}

                </tr>
                {%endif%}
                {% endfor %}
            </table>

        {% endfor %}
        {% endfor %}
    </div>

    {% endfor %}

{% endblock %}