{% extends "server_list/navbar.html" %}
{% load server_list_extras %}

{% block title %}Список серверов{% endblock %}

{% block script %}
function openCity(evt, cityName) {
// Declare all variables
var i, tabcontent, tablinks;

// Get all elements with class="tabcontent" and hide them
tabcontent = document.getElementsByClassName("tabcontent");
for (i = 0; i < tabcontent.length; i++) {
tabcontent[i].style.display = "none";
}

// Get all elements with class="tablinks" and remove the class "active"
tablinks = document.getElementsByClassName("tablinks");
for (i = 0; i < tablinks.length; i++) {
tablinks[i].className = tablinks[i].className.replace(" active", "");
}

// Show the current tab, and add an "active" class to the button that opened the tab
document.getElementById(cityName).style.display = "block";
evt.currentTarget.className += " active";
}
window.onload = function(){
tabcontent = document.getElementsByClassName("tabcontent");
for (let i = 0; i < tabcontent.length; i++){
tabcontent[i].style.display="none";
}
tabcontent[0].style.display = "block";

}
{% endblock %}

{% block style %}
.tableFixHead    { overflow-y: auto; height: 100px; }
.tableFixHead th { position: sticky; top: 0; }
{% endblock %}

{% block content %}

    <div>
        <!-- ссылки на сегменты -->
        <p>
            {% for id, name in links.items %}
            <a href="{% url 'list' %}?group={{ id }}">{{name}}</a>
            {% endfor %}
        </p>
    </div>

    <!-- вкладки -->
    <ul class="nav nav-tabs">
        {% for tabid, tabname in tabs.items %}
        <li class="nav-item">
            <a href="#" class="nav-link btn btn-sm tablinks" onclick="openCity(event, '{{tabname}}')">{{tabname}}
                <button class="btn btn-sm btn-outline-secondary" value="Edit"
                        onclick="window.location.href ='{% url 'territory_view' tabid %}'">view
                </button>
            </a>
        </li>
        {% endfor %}
    </ul>


    {% for ter, room_dict in servers.items %}
    <div id="{{ter}}" class="tabcontent bg-light ">
        {% for room, rack_dict in room_dict.items %}
        <p><a href="{% url 'room_view' room.id%}">{{room.name}}</a></p>
        {% for rack, ser_dict in rack_dict.items %}
        <p><a href="{% url 'rack_view' rack.id %}">{{rack.name}}</a></p>
        <div class="table-responsive" style="position:sticky; top: 0;">
            <table class="table table-sm table-hover center-block">
                <!-- Unit Модель Имя Питание VM OS Назначение IP Mask/Gateway ilo iscsi port s/n specs sens-->

                <thead class="thead-dark">
                <tr>
                {% for n in  ser_dict|get_dict_item:"header" %}
                <th scope="row">{{n}}</th>
                {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for id, row in ser_dict.items %}
                {% if not forloop.first %}
                <tr>
                    {% for col in row %}
                    {% if forloop.counter0 == 2 and forloop.parentloop.counter0 != 0 and row.2 != " " %}
                    <th ><p><a href="{% url 'server_view' id %}">{{col}}</a></p></th>
                    {%elif forloop.counter0 == 4 and forloop.parentloop.counter0 != 0 and row.2 == " "%}
                    <th><p><a href="{% url 'server_view' id %}">{{col}}</a></p></th>
                    {%else%}

                    <td>
                        <p>
                            {%if col|is_list%}
                            {% for c in col %}
                            {% if not forloop.first %}
                            <br/>
                            {% endif%}
                            {{c}}
                            {% endfor %}
                            {% else %}
                            {% if col == 'on' %}
                            <font color="green">On</font>
                            {% elif col == 'off'%}
                            <font color="red">Off</font>
                            {% else %}
                            {{col}}
                            {% endif %}
                            {% endif %}
                        </p>
                    </td>
                    <!--|linebreaks-->
                    {%endif%}
                    {% endfor %}

                </tr>
                {%endif%}
                {% endfor %}
            </table>
        </div>
        {% endfor %}
        {% endfor %}
    </div>

    {% endfor %}

{% endblock %}