<html>
<head>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script>
$(document).ready(function() {
    //document.getElementById("myInput").addEventListener("focusout", blur);
    //document.getElementById("myInput").addEventListener("focus", searchFunction);
    document.getElementById("myInput").addEventListener('input', searchFunction);
    //document.getElementById("myInput").onchange=searchFunction();
});

function blur() {
    console.log("blur")
    //document.getElementById("myDropdown").innerHTML="";
};

function searchFunction(){
    input = document.getElementById('myInput');

    $.ajax({
        url: "{% url 'ajax' %}",
        type: 'GET',
        data: {'action': 'search', 'query':document.getElementById('myInput').value},
        dataType: "json",
        success: function(resp){
            document.getElementById("resultlist").innerHTML="";
            $.each(resp, function(idx, obj) {
                    //console.log(idx);
                    //console.log('obj',obj);
                    element = document.createElement('option');
                    element.dataset.id=obj.pk;
                    element.dataset.model=obj.model;
                    if (obj.model.split('.')[1].localeCompare('server')==0){
                        element.innerHTML = obj.fields.hostname;
                    }else if (obj.model.split('.')[1].localeCompare('ip')==0){
                        element.innerHTML = obj.fields.ip;
                    }
                    //console.log(obj.fields.hostname);
                    document.getElementById("resultlist").appendChild(element);
                });
            val = input.value;
            list = input.getAttribute('list');

            options = Array.from(document.getElementById(list).childNodes);

           // for (let i = 0; i < options.length; i++){
           //     //console.log(options[i].innerText);
           //     if (val == options[i].innerText){
           //         console.log('item selected', val, options[i].dataset.model, options[i].dataset.id);
           //     }
           // }
            //console.log('options', options);
            //console.log(options.length);
            if (options.length == 1){
                console.log('item selected _', val, options[0].dataset.model, options[0].dataset.id);
            }
        },
        error: function(jqXHR, textStatus, errorThrown) {
            alert(errorThrown+'initial load');
        }
    });
};
</script>

</head>
<body>
<form method="POST" autocomplete="off" action="{% url 'search'%}">
    {% csrf_token %}
    <input name="searchInput" list="resultlist" type="text" placeholder="Поиск..." id="myInput">
    <datalist id="resultlist">
        <option value="1" id=1></option>
        <option value="2"></option>
    </datalist>
    <input type="submit" value="Submit">
</form>
</body>
</html>